.paralex{
    /* background-image: url('./../../../asetse/paralex.jpg'); */
    background: url('../../../asetse/paralex.jpg') center no-repeat;

    background-size:cover;
    width: 100%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
}


.paralex .row{
    margin: 50px 0px;
}
.paralex h2{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Bai Jamjuree';
    width: 100%;
    line-height: 50px;
}
.paralex p{
    font-size:16px ;
    line-height: 28px;
    color: #444;
    font-family: 'Bai Jamjuree';
    margin-top: 20px;
    line-height: 32px;
}
.paralex a {
    color: #6e192d;
    font-size: 20px;
    font-family: 'Bai Jamjuree';
    margin: 20px 0px;
    text-decoration: none;
    
}
