.subscribe{
    padding: 30px 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.subscribe .row:first-child{
    text-align: center;
    margin: 25px 0px;
}
.subscribe h2{
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Bai Jamjuree';
    width: 100%;
    line-height: 50px;
}

.subscribe p{
    font-size:16px ;
    line-height: 28px;
    color: #333;
    font-family: 'Bai Jamjuree';
    margin-top: 15px;
}
.subscribe-container {
    display: flex;
    align-items: center;
    max-width: 300px; /* Adjust as needed */
    margin: 0 auto;
}
.subscribe button {
    margin-left: 10px;
    background-color: #ab3550;
    border: 3px solid #ab3550;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bai Jamjuree', sans-serif;
}
.subscribe button:last-of-type {
    background-color: #a82d49;
    color: #fff;

}

.subscribe button:hover {
    transform: .2s ease-in-out;
}
.subscribe button:first-of-type:hover {
    background-color: #a82d49ff;
    color: #ac2947;
}
.subscribe button:last-of-type:hover {
    background-color: #fff;
    color: #a82d49;
}

