.ingredients{
    margin: 50px;
    max-width: 100%;
    height: auto;
    text-align: left;
    overflow: hidden;
}
.ingredients h2{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0px;
    color: #a82d49;
    font-family: 'Bai Jamjuree';
    width: 80%;
    line-height: 50px;
}
.ingredients p{
    font-size:16px ;
    line-height: 28px;
    color: #333;
    font-family: 'Bai Jamjuree';
    margin-top: 15px;
}
.ingredients button {
    background-color: #a82d49;
    border: 0.5px solid #a82d49;
    box-sizing: border-box; 
    width: 140px;
    height: 40px;
    text-align: center;
    margin-top: 20px ;
    transition: .2s ease;
    
}
.ingredients button a{
    display: block;
    color: #fff;
    font-family: 'Bai Jamjuree';
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}
.ingredients button:hover a{
    color: #a82d49;

}
.ingredients button:hover a{
    background-color: #fff;
}
.ingredients ul{
    padding: 0px;
}
.ingredients ul li{
    
    font-family: 'Bai Jamjuree';
    color: #333;
    margin-top: 10px;
    margin-left: 20px;
}
.ingredients img {
    max-width: 100%;
    border-radius: 10px;
}
